<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Reservation form</title>
    </head>
    <body>

        <h1>Confirm reservation by entering your password</h1>
        <p th:text="(${error} == null) ? '' : 'Incorrect password'">error</p>

        <form action="#" th:action="@{/event/form/} + ${id}" method="POST">
            <p><label for="password">Password</label>: <input type="password" name="password" id="password"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>

        <p></p>
    </body>
</html>
